{% extends "base.html" %}
{% block title %} Main {% endblock %}
{% block nav %}
<a class="nav-link active" aria-current="page" href="{% url "product_add" %}">Add product</a>
    <a class="nav-link active" aria-current="page" href="{% url "cart_view" %}">Cart</a>
{% endblock %}
{% block name %}
<h1>Store</h1>
{% endblock %}
{% block content %}
    <div class="container-fluid">
    {% include "partial/search.html" %}
    </div>
    <br/>
{% for pr in product %}
    {% if pr.balance > 0 %}
<ol class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
        <div class="fw-bold"><a href="{% url "product_view" pr.pk %}">{{ pr.prod_name }}</a></div>
        {{ pr.prod_category }}
    </div>
    <span class="badge bg-primary rounded-pill">{{ pr.price }}</span>
  </li>
</ol>
    {% endif %}
{% endfor %}
    {% if is_paginated %}
    {% include "partial/pagination.html" %}
    {% endif %}
{% endblock %}

