{% extends "base.html" %}
{% block title %} Product {% endblock %}
{% block nav %}
<a class="nav-link active" aria-current="page" href="{% url "product_add" %}">Add product</a>
    <a class="nav-link active" aria-current="page" href="{% url "product_update" product.pk %}">Update product</a>
    <a class="nav-link active" aria-current="page" href="{% url "product_delete" product.pk %}">Delete product</a>
{% endblock %}
{% block name %}
<h2>Product details:</h2>
{% endblock %}
{% block content %}
    <p>Product name: {{ product.prod_name }}</p>
    <p>Description: {{ product.description }}</p>
    <p>Category: {{ product.prod_category }}</p>
    <p>Currently available amount: {{ product.balance }}</p>
    <p>Price: {{ product.price }}</p>
    <p>===========================</p>

    <p>Want to buy? Just chose desired quantity and hit "Add to Cart"!</p>
    <form action="{% url "product_add_to_cart" product.pk %}" method="post">
    {% csrf_token %}
{% include "partial/form.html" %}
    Qty <input type="number" value="Qty"/>
    <button type="submit" style="display: inline">Add to Cart</button>
    </form>
{% endblock %}

